$font-primary: "Roboto", sans-serif;
$font-second: "Yantramanav", sans-serif;
$font-amatic: "Amatic SC", sans-serif;

$transition-base: all .3s ease-in !default;
$color-primary: #9615b5;
$color-secondary: #116E63; // lavender
$color-text: #19232B;
$color-body: #757f95;
$color-bg: #F2F3F5;