$font-primary: "Google Sans", sans-serif;
$font-second: "Afacad", sans-serif;

$transition-base: 0.4s all ease !default;
$color-primary: #0C2C7A;
$color-secondary: #00656D;
$color-text: #19232B;
$color-body: #555555;
$color-bg: #F2F3F5;

$border-radius: 30px;