@keyframes vm_scroll_animation {
    0% {
        margin-top: -120px;
    }

    100% {
        margin-top: 0;
    }
}

@keyframes vm_swing {
    0% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(5deg);
    }
}

@keyframes vm_sld_20 {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

@keyframes vm_sld_30 {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(30px);
    }
}

@keyframes vm-draw {
    to {
        stroke-dashoffset: 0;
    }
}