.vm-button {
    max-width: fit-content;
    border-radius: $border-radius;
    overflow: hidden;
    background: $color-secondary;
    color: #fff;
    height: 50px;
    padding: 0 20px;
    transition: $transition-base;
    gap: 8px;
    font-weight: 700;
    text-decoration: none;

    svg {
        width: 100%;
        height: auto;
        max-width: 18px;
        transform: rotate(45deg);
        transition: $transition-base;

        path {
            stroke: #fff;
            stroke-width: 2.5;
        }
    }

    &:hover {
        transform: translateY(-1px);

        svg {
            transform: rotate(90deg);
        }
    }

    // &:hover {
    //     background-color: #fff;
    //     color: $color-primary;
    // }

    // @include media-breakpoint-down(md) {
    //     font-size: 14px;
    //     height: 40px;
    //     padding: 0 16px;
    // }
}