* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-optical-sizing: auto;
    font-variation-settings: "GRAD" 0;
}

#wpadminbar {
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 64px;

    @include media-breakpoint-down(md) {
        font-size: 14px;
    }
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-variation-settings: normal;
}


.vm-section {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;

    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.vm-icon-heading {
    width: 100%;
    margin-bottom: 12px;

    svg {
        width: 72px;
        overflow: visible;
        transform: rotateX(180deg);

        path {
            fill: none;
            stroke-width: 24;
            stroke-linecap: round;
            stroke: $color-primary;
            stroke-dasharray: 2000;
            stroke-dashoffset: 2000;

            // animation: draw 4s ease forwards;
        }

        &.is-visible {
            path {
                animation: vm-draw 4s ease forwards;
            }
        }
    }
}

.vm-heading {
    margin: 0;
    text-align: center;

    span {
        color: $color-primary;
    }
}

.vm-sub-heading {
    margin: 16px 0 0 0;
    width: 100%;
    text-align: center;
}

.vm-rating {
    span {
        margin-right: 4px;
        font-weight: 300;
        color: $color-primary;
    }

    svg {
        width: 100%;
        height: auto;
        max-width: 16px;

        path {
            fill: #FFAA0D;
            stroke: #FFAA0D;
        }
    }
}



// .wave-svg {}

// .wave-svg path {}

// .wave-svg.is-visible path {}

// .elementor-editor-active .wave-svg path {
//     stroke-dashoffset: 0 !important;
// }