* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-optical-sizing: auto;
    font-variation-settings: "GRAD" 0;
}

#wpadminbar {
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 64px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-variation-settings: normal;
}


.vm-section {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;

    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}