body.page-template-category-tours-template {
    .famous-attractions-section {
        background: $color-bg;
        padding-top: 90px;

        @include media-breakpoint-down(lg) {
            padding-top: 60px;
        }

        @include media-breakpoint-down(md) {
            padding-top: 40px;
        }
    }

    .map-section {
        padding: 48px 0 90px 0;

        @include media-breakpoint-down(lg) {
            padding: 32px 0 60px 0;
        }

        @include media-breakpoint-down(md) {
            padding: 28px 0 40px 0;
        }

        &__map {
            margin: 0;
        }
    }

    .quick-facts-section {
        padding: 90px 0;

        @include media-breakpoint-down(lg) {
            padding: 60px 0;
        }

        @include media-breakpoint-down(md) {
            padding: 40px 0;
        }

        .vm-media {
            @include media-breakpoint-down(lg) {
                flex-wrap: wrap;
            }

            >div {
                @include media-breakpoint-down(lg) {
                    width: 100%;
                }
            }

            &__content {
                h2 {
                    text-align: left;
                }
            }
        }
    }

    .about-section .vm-heading {
        max-width: 100%;
    }
}