body.page-template-contact-template {
    .map-section {
        background: #fff;
        padding: 60px 0;

        @include media-breakpoint-down(lg) {
            padding: 40px 0;
        }

        &__embed {
            position: relative;
            width: 100%;
            padding-bottom: 45%;
            border-radius: 15px;
            overflow: hidden;
            box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.05);
            border: 1px solid rgba(0, 0, 0, 0.05);

            @include media-breakpoint-down(lg) {
                padding-bottom: 56.25%;
            }

            @include media-breakpoint-down(md) {
                padding-bottom: 75%;
            }

            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 0;
            }
        }
    }

    .main-section {
        padding: 90px 0;

        @include media-breakpoint-down(lg) {
            padding: 60px 0;
        }

        @include media-breakpoint-down(md) {
            padding: 40px 0;
        }

        .section-heading {
            max-width: 900px;
        }


        &-warp {
            margin-top: 48px;

            @include media-breakpoint-down(lg) {
                margin-top: 32px;
                flex-wrap: wrap;
                gap: 30px;
            }

            @include media-breakpoint-down(md) {
                margin-top: 28px;
            }

            >div {
                background: #fff;
                border-radius: 15px;
                padding: 20px 30px;
                box-shadow: 0 0 40px 5px rgb(0 0 0 / 5%);

                @include media-breakpoint-down(md) {
                    padding: 20px 10px;
                }
            }
        }

        &__left {
            display: flex;
            align-items: center;
            width: 30%;
            position: relative;

            @include media-breakpoint-down(xl) {
                width: 40%;
            }

            @include media-breakpoint-down(lg) {
                width: 100%;
            }

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 30px;
                bottom: 30px;
                width: 3px;
                background: $color-primary;
                border-radius: 50px;
            }

            .contact-info {
                text-decoration: none;
                gap: 15px;
                align-items: center;

                &:not(:last-child) {
                    margin-bottom: 32px;
                }

                &.address {
                    .contact-info__icon svg path {
                        stroke: #fff;
                        fill: transparent;
                    }
                }

                &__icon {
                    width: 60px;
                    height: 60px;
                    line-height: 60px;
                    background: $color-primary;
                    border-radius: 50px;
                    text-align: center;
                    font-size: 22px;
                    box-shadow: -5px 5px 0 rgba(17, 110, 99, 0.09);
                    flex-shrink: 0;

                    svg path {
                        fill: #fff;
                    }
                }

                &__content {
                    h5 {
                        margin: 0;
                    }

                    p {
                        color: $color-text;
                        font-weight: 500;
                    }
                }
            }
        }

        &__right {
            width: calc(70% - 30px);

            @include media-breakpoint-down(xl) {
                width: calc(60% - 30px);
            }

            @include media-breakpoint-down(lg) {
                width: 100%;
            }


            .nf-form-cont {
                .nf-form-layout {
                    .nf-form-content nf-fields-wrap {
                        flex-direction: inherit;
                        flex-wrap: wrap;

                        .nf-field-container {
                            margin-bottom: 0;
                        }

                        nf-field {
                            width: 100%;

                            &:first-child,
                            &:nth-child(2) {
                                @include media-breakpoint-up(md) {
                                    max-width: calc(50% - 8px);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}