.page-template-front-page {
    .hero-section {
        &-inner {
            border-radius: 20px;
            overflow: hidden;
            position: relative;
            height: 760px;

            @include media-breakpoint-down(md) {
                height: auto;
            }

            img {
                border-style: none;
                height: auto;
                max-width: 100%;
                vertical-align: middle;
            }
        }


        &__bg {
            position: absolute;
            left: 0px;
            bottom: 0px;
            top: 0px;
            right: 0px;
            z-index: 5;
            background-image: url('../../images/overlay-shape.png');
            display: flex;
            align-items: center;

            @media (max-width: 1440px) {
                max-width: 1300px;
                background-position: top center
            }

            @include media-breakpoint-down(md) {
                position: static;
                background-position: left;
            }
        }

        &-gallery {
            .gallery-item {
                img {
                    height: 760px;
                    -o-object-fit: cover;
                    object-fit: cover;
                    -o-object-position: center;
                    object-position: center;
                    width: 100%;

                    @include media-breakpoint-down(lg) {
                        height: 560px;
                    }

                    @include media-breakpoint-down(md) {
                        height: 330px;
                    }
                }
            }
        }

        &-content {
            padding-top: 100px;
            padding-left: 70px;
            max-width: 820px;

            @media (max-width: 1440px) {
                max-width: 720px;
            }

            @include media-breakpoint-down(xl) {
                max-width: 560px;
                padding-left: 30px;
                padding-top: 90px;
            }

            @include media-breakpoint-down(lg) {
                max-width: 460px;
                padding-left: 20px;
                padding-top: 60px;
            }

            @include media-breakpoint-down(md) {
                padding-bottom: 40px;
                padding-right: 20px;
            }

            h1 {
                line-height: 90%;
                margin: 0;

                span {
                    width: 100%;
                    display: inline-block;
                    font-size: calc(1.4rem + 1.8vw);

                    @include media-breakpoint-up(xl) {
                        font-size: 2.75rem;
                    }
                }

                b {
                    color: $color-primary;
                }
            }
        }

        &__desc {
            margin-top: 24px;
            font-size: 18px;

            @include media-breakpoint-up(xl) {
                font-size: 20px;
            }

            @include media-breakpoint-down(md) {
                margin-top: 16px;
            }
        }

        &__contact {
            margin-top: 32px;

            @include media-breakpoint-down(md) {
                margin-top: 24px;
                flex-wrap: wrap;
            }
        }

        &__whatsapp {
            text-decoration: none;

            svg {
                width: 100%;
                height: auto;
                max-width: 40px;
                flex-shrink: 0;

                path {
                    fill: $color-primary;
                }
            }

            .content {
                width: 100%;
                display: inline-block;
                min-width: fit-content;

                p {
                    color: $color-primary;
                    letter-spacing: 0.048em;
                }

            }
        }

        &__leaf-top {
            position: absolute;
            z-index: 6;
            top: -90px;
            left: 870px;
            animation: vm_swing 4s ease-in-out infinite alternate;

            @media (max-width: 1440px) {
                left: 650px;
                width: 190px;
            }
        }


        &__baloon-top {
            position: absolute;
            z-index: 6;
            top: 50px;
            left: 740px;
            opacity: 0.5;
            animation: vm_sld_20 2s linear infinite alternate-reverse;

            @media (max-width: 1440px) {
                max-width: 100px;
                left: 500px
            }
        }

        &__leaf-bottom {
            position: absolute;
            z-index: 6;
            bottom: -60px;
            left: -20px;
            animation: vm_swing 5s ease-in-out infinite alternate;

            @media (max-width: 1440px) {
                bottom: -30px;
                width: 190px;
            }
        }

        &__baloon-bottom {
            position: absolute;
            z-index: 6;
            bottom: 30px;
            left: 800px;
            opacity: 0.5;
            animation: vm_sld_30 2s linear infinite alternate-reverse;

            @media (max-width: 1440px) {
                max-width: 130px;
                left: 600px;
            }
        }
    }

    .counters-section {
        padding: 60px 0;

        @include media-breakpoint-down(md) {
            padding: 40px 0;
        }

        &__list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 24px;

            @include media-breakpoint-down(lg) {
                grid-template-columns: repeat(2, 1fr);
            }

            @include media-breakpoint-down(md) {
                grid-template-columns: repeat(1, 1fr);
                gap: 20px;
            }

            .counter-item {
                position: relative;

                &:nth-child(even) {
                    .counter-item__icon {
                        background-color: $color-secondary;
                    }
                }

                &__icon {
                    width: 100px;
                    min-width: 100px;
                    height: 100px;
                    background-color: $color-primary;
                    border-radius: 20px;
                    display: flex;
                    align-items: baseline;
                    justify-content: flex-start;
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    padding: 15px;

                    img {
                        border-style: none;
                        height: auto;
                        max-width: 100%;
                        vertical-align: middle;
                        width: 50px;
                    }
                }

                &-content {
                    position: relative;
                    z-index: 1;
                    padding: 35px 12px;
                    margin-top: 50px;
                    margin-left: 58px;
                    background: rgba(6, 97, 104, 0.05);
                    border: 7px solid #fff;
                    box-shadow: 0px 15px 8px -4px rgba(0, 0, 0, 0.05);
                    -webkit-backdrop-filter: blur(25px);
                    backdrop-filter: blur(25px);
                    border-radius: 30px;
                    text-align: center;

                    p {
                        font-weight: 800;
                        font-family: $font-primary;
                        margin-top: 12px;
                        color: $color-primary;
                    }
                }
            }
        }
    }
}