.page-template-front-page {
    .hero-section {
        background: #fff;

        &-inner {
            border-radius: 20px;
            overflow: hidden;
            position: relative;
            height: 660px;

            @include media-breakpoint-down(md) {
                height: auto;
            }

            img {
                border-style: none;
                height: auto;
                max-width: 100%;
                vertical-align: middle;
            }
        }


        &__bg {
            position: absolute;
            left: 0px;
            bottom: 0px;
            top: 0px;
            right: 0px;
            z-index: 5;
            background-image: url('../../images/overlay-shape-green.png');
            display: flex;
            align-items: center;

            @media (max-width: 1440px) {
                // max-width: 1300px;
                background-position: top center
            }

            @include media-breakpoint-down(md) {
                position: static;
                background-position: left;
            }
        }

        &-gallery,
        &-video {
            .gallery-item {
                &__media {
                    display: flex;
                    justify-content: end;
                }

                img,
                video {
                    height: 760px;
                    -o-object-fit: cover;
                    object-fit: cover;
                    -o-object-position: center;
                    object-position: center;
                    width: 100%;
                    max-width: 60%;

                    @include media-breakpoint-down(xl) {
                        max-width: 75%;
                    }

                    @include media-breakpoint-down(lg) {
                        max-width: 85%;
                    }

                    @include media-breakpoint-down(md) {
                        height: 330px;
                        max-width: 100%;
                    }
                }
            }
        }

        &-content {
            padding-top: 100px;
            padding-left: 70px;
            max-width: 820px;

            @media (max-width: 1440px) {
                max-width: 720px;
            }

            @include media-breakpoint-down(xl) {
                max-width: 560px;
                padding-left: 30px;
                padding-top: 90px;
            }

            @include media-breakpoint-down(lg) {
                max-width: 460px;
                padding-left: 20px;
                padding-top: 60px;
            }

            @include media-breakpoint-down(md) {
                padding-bottom: 40px;
                padding-right: 20px;
            }

            h1 {
                line-height: 90%;
                margin: 0;
                color: #fff;

                span {
                    width: 100%;
                    display: inline-block;
                    font-size: calc(1.4rem + 1.8vw);

                    @include media-breakpoint-up(xl) {
                        font-size: 2.75rem;
                    }
                }

                b {
                    color: $color-orange;
                }
            }
        }

        &__desc {
            margin-top: 24px;
            font-size: 18px;
            color: #fff;

            @include media-breakpoint-up(xl) {
                font-size: 20px;
            }

            @include media-breakpoint-down(md) {
                margin-top: 16px;
            }
        }

        &__contact {
            margin-top: 32px;

            @include media-breakpoint-down(md) {
                margin-top: 24px;
                flex-wrap: wrap;
            }
        }

        &__whatsapp {
            text-decoration: none;
            color: #fff;

            svg {
                width: 100%;
                height: auto;
                max-width: 40px;
                flex-shrink: 0;

                path {
                    fill: $color-orange;
                }
            }

            .content {
                width: 100%;
                display: inline-block;
                min-width: fit-content;
                color: $color-orange;


                p {
                    color: #fff;
                    letter-spacing: 0.048em;
                }

            }
        }

        &__watercolor-top {
            position: absolute;
            z-index: 6;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
            max-width: 160px;

            @include media-breakpoint-down(xl) {
                max-width: 130px;
                left: 60%;
            }

            @include media-breakpoint-down(md) {
                display: none;
            }


            img {
                animation: vm_watercolor_top 3.5s ease-in-out infinite alternate;
            }
        }


        &__baloon-top {
            position: absolute;
            z-index: 6;
            top: 120px;
            left: 35%;
            transform: translateX(-50%);
            max-width: 150px;

            @include media-breakpoint-down(xl) {
                max-width: 120px;
                top: 100px;
            }

            @include media-breakpoint-down(md) {
                display: none;
            }

            img {
                animation: tropicalIsland 4s ease-in-out infinite;
            }
        }

        &__watercolor-bottom {
            position: absolute;
            z-index: 6;
            bottom: -60px;
            left: -20px;
            animation: vm_watercolor_bottom 6s ease-in-out infinite alternate;

            @media (max-width: 1440px) {
                bottom: 0px;
                width: 220px;
            }

            @include media-breakpoint-down(md) {
                width: 180px;
            }

            img {
                width: 100%;
                height: auto;
            }
        }

        &__baloon-bottom {
            display: none;
            position: absolute;
            z-index: 6;
            bottom: 30px;
            left: 800px;
            animation: tropicalIsland 4s ease-in-out infinite;
            max-width: 120px;

            @media (max-width: 1440px) {
                max-width: 150px;
                left: 600px;
            }
        }
    }

    .counters-section {
        background: $color-bg;
        padding: 60px 0;

        @include media-breakpoint-down(md) {
            padding: 40px 0;
        }

        &__list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 24px;

            @include media-breakpoint-down(lg) {
                grid-template-columns: repeat(2, 1fr);
            }

            @include media-breakpoint-down(md) {
                gap: 20px;
            }

            @media (max-width: 413.98px) {
                grid-template-columns: repeat(1, 1fr);
            }

            .counter-item {
                position: relative;

                &:nth-child(even) {
                    .counter-item__icon {
                        background-color: $color-secondary;
                    }
                }

                &__icon {
                    width: 100px;
                    min-width: 100px;
                    height: 100px;
                    background-color: $color-primary;
                    border-radius: 20px;
                    display: flex;
                    align-items: baseline;
                    justify-content: flex-start;
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    padding: 15px;

                    img {
                        border-style: none;
                        height: auto;
                        max-width: 100%;
                        vertical-align: middle;
                        width: 50px;
                        filter: brightness(0) invert(1);

                        @include media-breakpoint-down(md) {
                            width: 40px;
                        }
                    }
                }

                &-content {
                    position: relative;
                    z-index: 1;
                    padding: 35px 12px;
                    margin-top: 50px;
                    margin-left: 58px;
                    background: rgba(6, 97, 104, 0.05);
                    border: 7px solid #fff;
                    box-shadow: 0px 15px 8px -4px rgba(0, 0, 0, 0.05);
                    -webkit-backdrop-filter: blur(25px);
                    backdrop-filter: blur(25px);
                    border-radius: 30px;
                    text-align: center;

                    @include media-breakpoint-down(md) {
                        margin-left: 25%;
                        border-width: 3.5px;
                    }

                    p {
                        font-weight: 800;
                        // font-family: $font-primary;
                        margin-top: 12px;
                        color: $color-primary;
                    }
                }
            }
        }
    }

    .services-section {
        background: $color-primary;
        padding: 90px 0;

        @include media-breakpoint-down(lg) {
            padding: 60px 0;
        }

        @include media-breakpoint-down(md) {
            padding: 40px 0;
        }

        &::before {
            content: "";
            height: 160px;
            background-color: #EFFFFF;
            bottom: 0px;
            left: 0px;
            right: 0px;
            position: absolute;
            z-index: 0;
        }

        &-inner {
            gap: 32px;
            color: #fff;

            @include media-breakpoint-down(lg) {
                flex-wrap: wrap !important;
            }
        }

        &__left {
            flex-shrink: 0;
            width: 37%;
            position: relative;

            @include media-breakpoint-down(lg) {
                width: 42%;
            }

            @include media-breakpoint-down(lg) {
                width: 100%;
                text-align: center;
            }

            img {
                width: 100%;
                height: auto;
                max-width: 600px;

                @include media-breakpoint-up(lg) {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 0px;
                }
            }
        }

        &__right {
            @include media-breakpoint-down(lg) {
                width: 100%;
            }

            h2 {
                color: #fff;
                margin-bottom: 16px !important;
            }
        }

        &__list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 24px;
            margin-top: 48px;

            @include media-breakpoint-down(md) {
                margin-top: 32px;
                grid-template-columns: repeat(1, 1fr);
            }

            .service-item {
                position: relative;
                text-align: center;
                background-color: #fff;
                margin-left: 12px;
                border-radius: 80px 20px 80px 20px;
                padding: 35px 20px 60px;

                @include media-breakpoint-down(md) {
                    padding: 20px 10px 32px;
                    border-radius: 60px 20px 60px 20px;
                }

                &:nth-child(2) {
                    // .service-item__icon img {
                    //     filter: brightness(0) saturate(100%) invert(64%) sepia(100%) saturate(1157%) hue-rotate(350deg) brightness(103%) contrast(103%);
                    // }

                    .service-item__step .step-corner {
                        border-bottom: 90px solid #FFAA0D;

                        &::after {
                            border-right: 12px solid #BA7D0A;
                        }
                    }
                }

                &:nth-child(3) {
                    // .service-item__icon img {
                    //     filter: brightness(0) saturate(100%) invert(67%) sepia(36%) saturate(2222%) hue-rotate(38deg) brightness(102%) contrast(101%);
                    // }

                    .service-item__step .step-corner {
                        border-bottom: 90px solid #85D200;

                        &::after {
                            border-right: 12px solid #568603;
                        }
                    }
                }

                &__icon {
                    margin-bottom: 24px;

                    @include media-breakpoint-down(md) {
                        margin-bottom: 20px;
                    }

                    img {
                        width: auto;
                        height: 100px;
                        // filter: brightness(0) saturate(100%) invert(53%) sepia(72%) saturate(1711%) hue-rotate(188deg) brightness(100%) contrast(94%);

                        @include media-breakpoint-down(md) {
                            height: 80px;
                        }
                    }
                }

                &-content {
                    p {
                        color: $color-body;
                        font-size: 14px;
                    }
                }

                &__step {
                    .step-corner {
                        position: absolute;
                        left: -12px;
                        bottom: 0px;
                        width: 0;
                        height: 0;
                        border-bottom: 90px solid #489CF6;
                        border-right: 80px solid transparent;

                        &::after {
                            content: "";
                            position: absolute;
                            left: 0px;
                            top: -11px;
                            width: 0;
                            height: 0;
                            border-top: 12px solid transparent;
                            border-right: 12px solid #297BD4;
                            border-bottom: 12px solid transparent;
                        }

                        span {
                            font-size: 12px;
                            line-height: 6px;
                            font-weight: 500;
                            display: block;
                            color: #fff;
                            font-family: $font-second;
                            padding: 48px 10px 0px 10px;
                        }

                        .number {
                            font-weight: 900;
                            color: #fff;
                            padding-left: 10px;
                            margin: 0;
                            font-family: $font-second;
                        }
                    }
                }
            }
        }

        &__img-bt {
            border-radius: 200px;
            margin-top: 30px;
            margin-bottom: 0px;
            overflow: hidden;
            position: relative;

            @include media-breakpoint-down(md) {
                border-radius: 100px;
            }

            img {
                width: 100%;
                height: 200px;
                -o-object-fit: cover;
                object-fit: cover;
            }
        }
    }

    .map-section {
        background: $color-bg;
        padding: 90px 0;

        @include media-breakpoint-down(lg) {
            padding: 60px 0;
        }

        @include media-breakpoint-down(md) {
            padding: 40px 0;
        }
    }

    .daily-tour-section,
    .package-tours-section {
        overflow: hidden;
        padding: 90px 0;


        @include media-breakpoint-down(lg) {
            padding: 60px 0;
        }


        @include media-breakpoint-down(lg) {
            padding: 60px 0;
        }

        @include media-breakpoint-down(md) {
            padding: 40px 0;
        }

        .container {
            overflow: hidden;
        }

        &__actions {
            margin-top: 48px;

            @include media-breakpoint-down(lg) {
                margin-top: 32px;
            }

            @include media-breakpoint-down(md) {
                margin-top: 28px;
            }
        }

        &__carousel {
            overflow: inherit;
            margin-top: 48px;

            @include media-breakpoint-down(lg) {
                margin-top: 32px;
            }

            @include media-breakpoint-down(md) {
                margin-top: 28px;
            }

            .swiper-action {
                position: relative;
                margin-top: 32px;
                gap: 10px;

                @include media-breakpoint-down(md) {
                    margin-top: 20px;
                }

                >div {
                    position: inherit;
                    top: inherit;
                    left: inherit;
                    right: inherit;
                    transform: translate(0, 0);
                    margin: 0;


                    svg {
                        width: 100%;
                        height: auto;
                        max-width: 24px;

                    }
                }
            }
        }
    }

    .package-tours-section {
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            z-index: -1;
            background:
                url('../../images/tropical-background.jpg') center bottom / cover no-repeat;

            opacity: 0.65;
            pointer-events: none;
        }
    }

    .daily-tour-section {
        background-color: $color-primary;
        background-image: url('../../images/patern.png');

        &::before {
            content: " ";
            display: inline-block;
            width: 100%;
            height: 60%;
            left: 0px;
            top: 0px;
            position: absolute;
            background: #ffff;
            z-index: -1;
        }

        &__carousel {
            margin-top: 48px;

            @include media-breakpoint-down(lg) {
                margin-top: 32px;
            }

            @include media-breakpoint-down(md) {
                margin-top: 28px;
            }

            .swiper-action {
                >div {
                    background: #fff;

                    &:hover {
                        background: $color-secondary;
                    }

                    svg {
                        path {
                            stroke: $color-primary;
                        }
                    }
                }
            }
        }
    }

    .testimonials-section {
        overflow: hidden;
        padding: 90px 0;
        background: $color-bg;

        @include media-breakpoint-down(lg) {
            padding: 60px 0;
        }

        @include media-breakpoint-down(md) {
            padding: 40px 0;
        }

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            z-index: -1;
            background:
                url('../../images/bg-001.jpg') center bottom / cover no-repeat;

            opacity: 0.65;
            pointer-events: none;
        }

        .testimonials-carousel {
            margin-top: 48px;

            @include media-breakpoint-down(lg) {
                margin-top: 32px;
            }

            @include media-breakpoint-down(md) {
                margin-top: 28px;
            }

            &__control {
                display: flex;
                align-items: center;
                gap: 10px;
                position: absolute;
                left: calc(50% - 3%);
                transform: translateX(-50%);
                bottom: 25px;
                max-width: fit-content;
                z-index: 999;


                @include media-breakpoint-down(lg) {
                    left: 270px;
                    transform: translateX(0px);
                    bottom: 0px;
                }

                @include media-breakpoint-down(lg) {
                    position: relative;
                    left: inherit;
                    bottom: inherit;
                    justify-content: center;
                    max-width: 100%;
                    margin-top: 12px;
                }

                >div {
                    position: initial;
                    left: inherit;
                    right: inherit;
                    transform: translate(0);
                    top: inherit;
                    margin: 0;
                    background: $color-secondary;

                    &:hover {
                        background: $color-primary;
                    }

                    svg {
                        path {
                            stroke: #fff;
                        }
                    }
                }
            }

            &___wrapper {
                position: relative;
            }

            .testimonial-item {
                display: flex;
                align-items: center;

                @include media-breakpoint-down(md) {
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 24px;
                }

                &__avatar {
                    margin-bottom: 0px;
                    position: relative;
                    max-width: 35%;
                    z-index: 1;
                    margin-right: 95px;

                    @include media-breakpoint-down(lg) {
                        max-width: 250px;
                        margin-right: 30px;
                    }

                    @include media-breakpoint-down(md) {
                        margin-right: 0;
                    }

                    &::after,
                    &::before {
                        @include media-breakpoint-up(lg) {
                            content: " ";
                            display: inline-block;
                        }
                    }

                    &::before {
                        @include media-breakpoint-up(lg) {
                            width: 380px;
                            height: 380px;
                            border-radius: 50%;
                            background-color: $color-secondary;
                            opacity: 0.1;
                            position: absolute;
                            right: -94px;
                            top: 50%;
                            transform: translateY(-50%);
                            z-index: -1;
                        }
                    }

                    &::after {
                        @include media-breakpoint-up(lg) {
                            width: 330px;
                            height: 330px;
                            border-radius: 50%;
                            background-color: $color-primary;
                            position: absolute;
                            right: -42px;
                            top: 50%;
                            transform: translateY(-50%);
                            z-index: -1;
                        }
                    }

                    img {
                        width: 100%;
                        height: auto;
                        border-style: none;
                        height: auto;
                        max-width: 100%;
                        vertical-align: middle;
                        border-radius: $border-radius;
                    }
                }

                &-content {
                    padding-left: 5%;

                    @include media-breakpoint-down(lg) {
                        padding-left: 0;
                    }

                    @include media-breakpoint-down(md) {
                        width: 100%;
                    }
                }

                &__info {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                &__position {
                    color: $color-primary;
                    margin: 8px 0 0 0;
                    display: inline-block;
                }

                &__quote {
                    margin-top: 24px;
                }

                &__icon {
                    svg {
                        width: 48px;
                        height: auto;
                        max-width: 48px;

                        path {
                            stroke: $color-primary;
                        }
                    }
                }

                .vm-rating {
                    margin-top: 16px;
                }
            }
        }
    }

    .testimonials-thumbs {
        position: absolute;
        left: 100%;
        top: 100%;
        opacity: 0;
        visibility: hidden;

        @include media-breakpoint-up(lg) {
            height: 370px;
            overflow: hidden;
            width: 115px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 550px;
            // touch-action: pan-y;

            >.swiper-wrapper {
                flex-direction: column;
            }
        }

        @include media-breakpoint-down(md) {
            margin-top: 32px;
            padding: 10px 0;
            max-width: 100%;
        }

        .swiper-slide {
            width: 100% !important;

            @include media-breakpoint-down(md) {
                width: auto !important;
                display: flex;
                justify-content: center;
            }

            img {
                width: 76px;
                height: 76px;
                -o-object-fit: cover;
                object-fit: cover;
                -o-object-position: center;
                object-position: center;
                border-radius: 20px;
                cursor: pointer;
                transition: all 0.3s ease;
                border: 2px solid transparent;
                opacity: 0.6;
                transform: scale(0.9);
            }

            &:hover {
                img {
                    opacity: 0.8;
                    transform: scale(0.95);
                }
            }

            &.swiper-slide-thumb-active {
                img {
                    opacity: 1;
                    transform: scale(1.15);
                    border-color: $color-primary;
                    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
                }

                @include media-breakpoint-up(lg) {
                    img {
                        margin-left: 30px;
                    }
                }
            }
        }
    }

    .car-tour-section {
        background: $color-bg;
        padding: 90px 0;
        position: relative;
        overflow: hidden;

        @include media-breakpoint-down(lg) {
            padding: 60px 0;
        }

        @include media-breakpoint-down(md) {
            padding: 40px 0;
        }


        &__graphic {
            position: absolute;
            bottom: -1%;
            right: -1%;
            z-index: 1;
            opacity: 0.8;
            max-width: 280px;
            pointer-events: none;

            @include media-breakpoint-down(lg) {
                max-width: 200px;
                opacity: 0.6;
            }

            @include media-breakpoint-down(md) {
                max-width: 140px;
                opacity: 0.5;
                bottom: 0;
            }

            img {
                width: 100%;
                height: auto;
                object-fit: contain;
                display: block;
            }
        }


        &__actions {
            margin-top: 48px;

            @include media-breakpoint-down(lg) {
                margin-top: 32px;
            }

            @include media-breakpoint-down(md) {
                margin-top: 28px;
            }
        }


        &__grid {
            margin-top: 48px;

            @include media-breakpoint-up(lg) {
                display: grid !important;
                grid-template-columns: repeat(2, 1fr);
                gap: 24px;
                transform: none !important;
            }

            @include media-breakpoint-down(lg) {
                margin-top: 32px;
            }

            @include media-breakpoint-down(md) {
                margin-top: 28px;
            }
        }

        .car-tour-item {
            border: 1px solid #DDDDDD;
            border-radius: $border-radius;
            overflow: hidden;
            text-decoration: none;

            @include media-breakpoint-down(md) {
                flex-wrap: wrap;
            }

            &-meta {
                margin-top: 12px;
                padding-top: 12px;
                border-top: 1px solid #DDDDDD;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            &__price {
                span {
                    color: $color-primary;
                }
            }

            &__thumb {
                position: relative;
                width: 44.3%;
                padding-top: 35.4%;
                overflow: hidden;
                z-index: 2;
                flex-shrink: 0;
                height: 100%;

                @include media-breakpoint-down(md) {
                    width: 100%;
                    padding-top: 65%;
                }

                img {
                    position: absolute;
                    inset: 0;
                    height: 100%;
                    width: 100%
                }
            }

            &-content {
                width: 100%;
                padding: 24px 16px;
                display: flex;
                align-items: center;

                &-wrap {
                    width: 100%;
                }
            }

            &__locations {
                gap: 10px;
                width: 100%;
                justify-content: space-between;


                span {
                    font-size: 18px;
                    color: $color-secondary;
                    font-weight: 700;
                    gap: 4px;
                    font-family: $font-second;

                    svg {
                        flex-shrink: 0;
                        stroke: $color-primary;
                    }
                }
            }

            &__title {
                margin: 12px 0 0 0;
            }

            &__info {
                margin-top: 12px;
                gap: 10px;
                width: 100%;
                justify-content: space-between;

                span {
                    color: $color-body;
                    font-weight: 500;
                    gap: 4px;

                    svg {
                        flex-shrink: 0;
                        width: 100%;
                        height: auto;
                        max-width: 17px;
                        stroke: $color-primary;
                    }

                    &.group-size {
                        svg {
                            max-width: 20px;

                            path {
                                stroke: $color-primary;
                            }
                        }
                    }
                }
            }
        }

        .swiper-action {
            gap: 10px;
            padding-bottom: 5px;


            >div {
                position: relative;
                margin: 0;
                transform: translate(0, 0);
                left: inherit;
                top: inherit;
                right: inherit;
                bottom: inherit;
            }
        }
    }

    .faqs-section {
        padding: 90px 0;
        overflow: hidden;

        @include media-breakpoint-down(lg) {
            padding: 60px 0;
        }

        @include media-breakpoint-down(md) {
            padding: 40px 0;
        }

        &__graphic {
            position: absolute;
            top: 40px;
            right: -4%;
            z-index: 0;
            opacity: 0.5;
            max-width: 300px;
            pointer-events: none;

            @include media-breakpoint-down(lg) {
                max-width: 150px;
                top: 20px;
            }

            @include media-breakpoint-down(md) {
                max-width: 100px;
                top: 10px;
                right: -5%;
            }

            img {
                width: 100%;
                height: auto;
                object-fit: contain;
            }
        }

        >.container {
            position: relative;
            z-index: 2;
        }

        &-inner {
            gap: 48px;

            @include media-breakpoint-down(lg) {
                flex-wrap: wrap;
                gap: 60px;
            }

            >div {
                width: 100%;

                @include media-breakpoint-up(lg) {
                    width: 50%;
                }
            }
        }

        &__left {

            h2,
            p {
                @include media-breakpoint-up(lg) {
                    text-align: left;
                }
            }

            .vm-icon-heading {
                @include media-breakpoint-up(lg) {
                    justify-content: start !important;
                }
            }

            img {
                width: 100%;
                height: auto;
                border-radius: $border-radius;
                // aspect-ratio: 1 / 1;
                object-fit: cover;
            }
        }

        &__img {
            position: relative;
            box-shadow:
                0 25px 50px -12px rgb(0 0 0 / 0.25);
            border-radius: $border-radius;
            margin-top: 20px;

            @include media-breakpoint-up(lg) {
                margin-top: 24px;
            }

            p {
                background-color: rgb(255 255 255 / 0.6);
                border-color: rgb(255 255 255 / 0.4);
                box-shadow: inset 0 0 20px rgba(255, 184, 0, 0.1), 0 10px 30px -10px rgba(0, 0, 0, 0.1);
                background: rgba(255, 255, 255, 0.6);
                /* bg-white/60 */
                backdrop-filter: blur(12px);
                -webkit-backdrop-filter: blur(12px);

                border: 1px solid rgba(255, 255, 255, 0.4);

                box-shadow:
                    0 8px 32px rgba(255, 184, 0, 0.15);

                position: absolute;
                bottom: -2rem;
                /* -bottom-8 */
                left: 50%;
                transform: translateX(-50%);
                width: 91.666667%;
                padding: 1.5rem;
                border-radius: 1rem;
                color: $color-primary;
                display: flex;
                align-items: center;
                gap: 1rem;
                justify-content: center;

                &::before {
                    content: "";
                    position: absolute;
                    inset: 0;
                    z-index: -1;

                    border-radius: 1rem;
                    background: linear-gradient(to right,
                            rgba(253, 230, 138, 0.5),
                            /* amber-100/50 */
                            transparent);

                    /* before:p-[2px] */
                    padding: 2px;
                    box-sizing: border-box;
                }

                /* w-11/12 */
            }
        }
    }

    .posts-section {
        padding: 90px 0;
        background: $color-bg;

        @include media-breakpoint-down(lg) {
            padding: 60px 0;
        }

        @include media-breakpoint-down(md) {
            padding: 40px 0;
        }

        &__list {
            margin-top: 48px;

            @include media-breakpoint-up(lg) {
                display: grid !important;
                grid-template-columns: 1fr 1.2fr;
                grid-template-rows: repeat(2, 1fr);
                gap: 24px;
                transform: none !important;
            }

            @include media-breakpoint-down(lg) {
                margin-top: 32px;
            }
        }

        &__cta {
            margin-top: 32px;

            @include media-breakpoint-down(md) {
                margin-top: 20px;
            }

        }

        .post-card {
            display: flex;
            position: relative;
            text-decoration: none;
            overflow: hidden;
            transition: $transition-base;

            &__excerpt {
                font-size: 14px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                line-clamp: 2;
                margin-top: 16px;
                color: $color-body;

                p {
                    margin: 0;
                }
            }

            &__date-badge {
                position: absolute;
                top: 16px;
                right: 16px;
                background: $color-primary;
                color: #fff;
                border-radius: 8px;
                padding: 6px 12px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                line-height: 1.1;
                z-index: 3;
                font-family: $font-second;

                .day {
                    font-size: 22px;
                    font-weight: 800;
                }

                .month {
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: 600;
                    margin-top: 2px;
                }
            }

            &__author {
                color: $color-secondary;
                font-size: 15px;
                font-weight: 600;
                margin-bottom: 8px;
            }

            &__title {
                color: $color-primary;
                margin-bottom: 0;
                transition: color 0.3s ease;
            }

            &--compact {
                flex-direction: row;
                gap: 16px;


                @include media-breakpoint-down(lg) {
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 0;

                    .post-card__thumb {
                        width: 100%;
                        padding-top: 35%;
                        border-radius: 0;

                        @include media-breakpoint-down(md) {
                            padding-top: 65%;
                        }

                        img {
                            position: absolute;
                            inset: 0;
                        }
                    }

                    .post-card__content {
                        padding: 24px;
                    }
                }

                .post-card__thumb {
                    width: 140px;
                    height: 100%;
                    border-radius: 12px;
                    overflow: hidden;
                    flex-shrink: 0;
                    position: relative;

                    @include media-breakpoint-down(lg) {
                        width: 100%;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: transform 0.4s ease;
                    }
                }

                .post-card__content {
                    display: flex;
                    align-items: center;
                    flex: 1;
                    padding-right: 60px;
                    background: #ffff;
                    border-radius: 12px;
                    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
                    padding: 16px;

                    @include media-breakpoint-down(lg) {
                        padding-right: 24px;
                    }
                }

                .post-card__title {
                    padding-right: 60px;
                }

                @include media-breakpoint-up(lg) {
                    grid-column: 1 / 2;
                }
            }

            &--featured {
                flex-direction: column;
                justify-content: flex-end;
                min-height: 400px;
                padding: 40px;

                @include media-breakpoint-up(lg) {
                    grid-column: 2 / 3;
                    grid-row: 1 / span 2; // Span across the 2 small posts
                    height: 100%;
                }

                .post-card__bg {
                    position: absolute;
                    inset: 0;
                    background-size: cover;
                    background-position: center;
                    transition: transform 0.5s ease;
                    z-index: 1;
                    border-radius: 12px;
                }

                .post-card__overlay {
                    position: absolute;
                    inset: 0;
                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
                    z-index: 2;
                    border-radius: 12px;
                }

                .post-card__content {
                    position: relative;
                    z-index: 3;

                    .post-card__title {
                        color: #fff;
                    }
                }

                .post-card__author {
                    color: #fff;
                }

                .post-card__date-badge {
                    background: rgba(255, 255, 255, 0.9);
                    color: $color-primary;
                }
            }
        }

        .swiper-action {
            position: relative;
            margin-top: 10px;
            gap: 10px;

            >div {
                position: inherit;
                top: inherit;
                left: inherit;
                right: inherit;
                transform: translate(0, 0);
                margin: 0;
            }
        }
    }
}