.hero-section {
    background: $color-primary;
    min-height: 400px;
    padding: 20px;
}

.tour-item {
    position: relative;
    overflow: hidden;
    border-radius: $border-radius ;
    box-shadow: 0px 18px 18px rgba(0, 106, 114, 0.15);
    background: #fff;
    height: auto !important;
    text-decoration: none;

    &:hover {
        .tour-item__thumb img {
            transform: scale(1.04);
        }
    }

    &__thumb {
        clip-path: polygon(100% 0%, 0% 0%, 0% 95.83%, 4% 95.71%, 8% 95.37%, 12% 94.84%, 16% 94.17%, 20% 93.45%, 24% 92.74%, 28% 92.12%, 32% 91.65%, 36% 91.39%, 40% 91.36%, 44% 91.57%, 48% 91.99%, 52% 92.58%, 56% 93.28%, 60% 94.01%, 64% 94.7%, 68% 95.26%, 72% 95.65%, 76% 95.83%, 80% 95.76%, 84% 95.47%, 88% 94.98%, 92% 94.34%, 96% 93.62%, 100% 92.9%);

        img {
            width: 100%;
            height: auto;
            height: 260px;
            object-fit: cover;
            transition: all 0.7s ease;
        }
    }

    &-content {
        padding: 24px 16px;
    }

    &-meta,
    &-action {
        margin-top: 16px;
    }

    &__time {
        font-size: 15px;
        gap: 4px;
        font-weight: 700;
        color: $color-primary;

        svg {
            width: 100%;
            height: auto;
            max-width: 18px;
        }
    }

    .vm-button {
        font-size: 13px;
        height: 40px;
        padding: 0 10px;

        svg {
            max-width: 15px;

        }
    }

    &__price {
        span {
            color: $color-secondary;
            font-weight: 800;
        }

        svg {
            stroke-width: 3;
            width: 100%;
            height: auto;
            max-width: 20px;
            stroke: $color-secondary;
        }
    }

    &__location {
        font-size: 15px;
        align-items: start;
        gap: 5px;
        margin-top: 12px;

        svg {
            width: 100%;
            height: auto;
            max-width: 17px;
            flex-shrink: 0;
            stroke: $color-primary;
            margin-top: 4px;
        }
    }
}